/* Asterisk wildcard selector added to override default browser styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*GENERIC PROJECT STYLES*/
    color: #3a3a3a;
}

/* HEADER*/
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
}

/*MAIN CONTENT*/
main {
    background-color: #ffc0cb;
    /*MAKE MAIN ELEMENT TAKE UP SURPLUS SPACE AND FORCE FOOTER TO THE BOTTOM*/
    flex: 1 0 auto;
}
/*FOOTER*/
footer {
    background-color: #ffe4c4;
}