/* Asterisk wildcard selector added to override default browser styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*GENERIC PROJECT STYLES*/
    color: #3a3a3a;
}

/* HEADER*/
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #3a3a3a;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

menu li {
    margin-bottom: 1em;
    
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/*MAIN CONTENT*/
main {
    background-color: #ffc0cb;
    /*MAKE MAIN ELEMENT TAKE UP SURPLUS SPACE AND FORCE FOOTER TO THE BOTTOM*/
    flex: 1 0 auto;
}
/*FOOTER*/
footer {
    background-color: #ffe4c4;
}